
// App fixes

.v-application {
   //font-family: "Roboto", sans-serif;
   font-family: 'IBM Plex Sans', sans-serif;
   line-height: 1.5;
}

//  Grid fixes

.container {
   padding: 15px;
}

.row {
   margin-left: -15px;
   margin-right: -15px;
}

[class|=col], [class*=col-], [class~=col] {
   padding: 15px;
}


